<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322659237393-dmoi9oomqsac4obdc62f45s2n48a7nel.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322659237393-dmoi9oomqsac4obdc62f45s2n48a7nel</string>
	<key>API_KEY</key>
	<string>AIzaSyB7f9BjB8IPHe9OxuT6ejRG-QmAChjcbDw</string>
	<key>GCM_SENDER_ID</key>
	<string>322659237393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danish.inventorymanagementsystem</string>
	<key>PROJECT_ID</key>
	<string>inventorymanagment-4f903</string>
	<key>STORAGE_BUCKET</key>
	<string>inventorymanagment-4f903.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322659237393:ios:bc41d52f76f8fc6871fbb0</string>
</dict>
</plist>